In [3]:
import pandas as pd

In [3]:
# (1) Используя параметры read_csv из pandas прочитать файл csv UCI_Credit_Card.csv так,
# чтобы данные были разбиты по соответствующим колонкам 
# (а не все слилось в одну)

In [4]:
# (2) выведите, что за типы переменных, сколько пропусков,
# для численных значений посчитайте пару статистик (в свободной форме)

In [6]:
#TODO
train = pd.read_csv('UCI_Credit_Card.csv')
train.info()
train.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null float64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null float64
BILL_AMT2                     30000 non-null float64
BILL_AMT3                     30000 non-null float64
BILL_AMT4                     30000 non-null float64
BILL_AMT5                     30000 non-null float64
BILL_AMT6                     30000 non-null float64
PAY_AMT1                      30000 non-null float64
PAY_AMT2                      30000 non-null float64
PAY_AMT3                      30000 non-null float64
PAY_AMT4                      30000 non-null float64
PAY_AMT5                      30000 non-null float64
PAY_AMT6                      30000 non-null float64
default.payment.next.month    30000 non-null int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [7]:
# (3) посчитать число женщин с университетским образованием
# SEX (1 = male; 2 = female). 
# EDUCATION (1 = graduate school; 2 = university; 3 = high school; 4 = others).
counter = 0
for i in range(len(train)-1):
        if train['SEX'][i] == 2 and train['EDUCATION'][i] == 2:
            counter += 1
counter

8656

In [8]:
# (4) Сгрупировать по "default.payment.next.month" и посчитать медиану для всех показателей начинающихся на BILL_ и PAY_
#TODO
for i in train.columns:
    if i.startswith('BILL_') or i.startswith('PAY_'):
        print(train[i].describe()['mean'])

-0.0167
-0.13376666666666667
-0.1662
-0.22066666666666668
-0.2662
-0.2911
51223.3309
49179.07516666667
47013.1548
43262.94896666666
40311.40096666667
38871.7604
5663.5805
5921.1635
5225.6815
4826.076866666666
4799.387633333334
5215.502566666667

In [35]:
# (5) постройте сводную таблицу (pivot table) по SEX, EDUCATION, MARRIAGE
#TODO
d = train.pivot_table('SEX', 'EDUCATION', 'MARRIAGE')
d

MARRIAGE          0         1         2         3
EDUCATION
0               NaN  1.500000  1.400000       NaN
1          1.750000  1.545943  1.613306  1.400000
2          1.833333  1.653610  1.581197  1.611111
3          1.727273  1.633695  1.531692  1.650485
4               NaN  1.653846  1.661765  1.666667
5               NaN  1.680000  1.637795  1.666667
6               NaN  1.500000  1.476190  2.000000

In [23]:
# (6) Создать новый строковый столбец в data frame-е, который:
# принимает значение A, если значение LIMIT_BAL <=10000
# принимает значение B, если значение LIMIT_BAL <=100000 и >10000
# принимает значение C, если значение LIMIT_BAL <=200000 и >100000
# принимает значение D, если значение LIMIT_BAL <=400000 и >200000
# принимает значение E, если значение LIMIT_BAL <=700000 и >400000
# принимает значение F, если значение LIMIT_BAL >700000
train['ANSW'] = 'a'


for i in range(len(train['LIMIT_BAL'])):
    if train['LIMIT_BAL'][i] <=10000:
        train['ANSW'][i] = 'A'
    elif  10000 < train['LIMIT_BAL'][i] <=100000:
        train['ANSW'][i] = 'B'
    elif  100000 < train['LIMIT_BAL'][i] <=200000:
        train['ANSW'][i] = 'C' 
    elif  200000 < train['LIMIT_BAL'][i] <=400000:
        train['ANSW'][i] = 'D' 
    elif  400000 < train['LIMIT_BAL'][i] <=700000:
        train['ANSW'][i] = 'E' 
    elif  700000 < train['LIMIT_BAL'][i]:
        train['ANSW'][i] = 'F' 
print(train)

C:\Users\Andrey\Documents\Anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Andrey\Documents\Anaconda\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Andrey\Documents\Anaconda\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Andrey\Documents\Anaconda\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Andrey\Documents\Anaconda\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Andrey\Documents\Anaconda\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1    20000.0    2          2         1   24      2      2     -1
1          2   120000.0    2          2         2   26     -1      2      0
2          3    90000.0    2          2         2   34      0      0      0
3          4    50000.0    2          2         1   37      0      0      0
4          5    50000.0    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996   220000.0    1          3         1   39      0      0      0
29996  29997   150000.0    1          3         2   43     -1     -1     -1
29997  29998    30000.0    1          2         2   37      4      3      2
29998  29999    80000.0    1          3         1   41      1     -1      0
29999  30000    50000.0    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
0         -1  ...        0.0        0.0       0.0     689.0       0.0
1          0  ...     3455.0     3261.0       0.0    1000.0    1000.0
2          0  ...    14948.0    15549.0    1518.0    1500.0    1000.0
3          0  ...    28959.0    29547.0    2000.0    2019.0    1200.0
4          0  ...    19146.0    19131.0    2000.0   36681.0   10000.0
...      ...  ...        ...        ...       ...       ...       ...
29995      0  ...    31237.0    15980.0    8500.0   20000.0    5003.0
29996     -1  ...     5190.0        0.0    1837.0    3526.0    8998.0
29997     -1  ...    20582.0    19357.0       0.0       0.0   22000.0
29998      0  ...    11855.0    48944.0   85900.0    3409.0    1178.0
29999      0  ...    32428.0    15313.0    2078.0    1800.0    1430.0

       PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month  ANSW
0           0.0       0.0       0.0                           1     B
1        1000.0       0.0    2000.0                           1     C
2        1000.0    1000.0    5000.0                           0     B
3        1100.0    1069.0    1000.0                           0     B
4        9000.0     689.0     679.0                           0     B
...         ...       ...       ...                         ...   ...
29995    3047.0    5000.0    1000.0                           0     D
29996     129.0       0.0       0.0                           0     C
29997    4200.0    2000.0    3100.0                           1     B
29998    1926.0   52964.0    1804.0                           1     B
29999    1000.0    1000.0    1000.0                           1     B

[30000 rows x 26 columns]

# Бонусные задания

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# (7) постироить распределение LIMIT_BAL (гистрограмму)
import seaborn as sns

In [ ]:
 #TODO

In [ ]:
# (8) построить среднее значение кредитного лимита для каждого вида образования 
# и для каждого пола
# график необходимо сделать очень широким (на весь экран)
#TODO

In [ ]:
# (9) построить зависимость кредитного лимита и образования только для одного из полов

#TODO

In [ ]:
# (10) построить большой график (подсказка - используя seaborn) для построения завимисости всех возможных пар параметров
# разным цветом выделить разные значение "default payment next month"
# (но так как столбцов много - картинка может получиться "монструозной")
# (поэкспериментируйте над тем как построить подобное сравнение параметров)
# (подсказка - ответ может состоять из несколькольких графиков)
# (если не выйдет - программа минимум - построить один график со всеми параметрами)
import seaborn

#TODO